:root {
    --primary: #156D1F;
    --primary-dark: #142B17;
    --secondary: #CE7B2E;
    --secondary-dark: #995b22;
    --background: #E7E3DD;
    --background-opacity: #e7e3ddd7;
    --white: #FFFFFF;
    --black: #000000;
    --confirm: #4CEF00;    
    --error: #FF0000;
}

body {
    font-family: Arial;
    background-color: var(--background);
    margin: 0px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

.p-small {
    font-size: 14px;
}

a {
    text-decoration: none;
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

/* Shortcuts and Buttons */

button:hover{
    cursor: pointer;
}

.shortcut, .button{
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 12.5px;
    gap: 10px;
    border: none;
}

.shortcut {
    display: inline-flex;
    text-align: left;
    width: 300px;
    margin: 10px 0;
}

@media screen and (max-width: 460px) {
   .shortcut {
    width: 100%;
   }
}

.button {
    display: inline-flex;
    border-radius: 100px;
}

.button-dark {
    background-color: var(--primary);
    color: var(--white);
}

.button-dark:hover {
    background-color: var(--primary-dark);
}

.button-light {
    background-color: var(--background);
    color: var(--black);
    border: 2px solid var(--primary);
}

.button-light:hover {
    border: 3px solid var(--primary);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 11.5px;
}

.btn-sec-dark {
    background-color: var(--secondary);
}

.btn-sec-dark:hover {
    background-color: var(--secondary-dark);
}

.btn-sec-light {
    border: 2px solid var(--secondary);
}

.btn-sec-light:hover {
    border: 3px solid var(--secondary-dark);
}

.btn-center {
    margin:0 auto;
    display:block;
}

/* Shortcut arrow */

.arrow {
    height: 25px;
    width: 25px;
}

.dark-arrow {
    background:url('images/green-arrow.png');
    background-size: 25px 25px;
}

.white-arrow {
    background:url('images/white-arrow.png');
    background-size: 25px 25px;
}

button:hover .white-arrow {
    background:url('images/white-arrow-hover.png');
    background-size: 25px 25px;
}

button:hover .dark-arrow {
    background:url('images/green-arrow-hover.png');
    background-size: 25px 25px;
}

.secondary-arrow {
    background:url('images/orange-arrow.png');
    background-size: 25px 25px;
}

button:hover .secondary-arrow {
    background:url('images/orange-arrow-hover.png');
    background-size: 25px 25px;
}

/* Sign-up form*/

form{
    background-color: var(--background);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"], input[type="email"], input[type="username"], input[type="password"]{
    height: 30px;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
  }

  textarea {
    text-align: left;
    height: 90px;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
  }
 
  .checkbox-container{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .checkbox-container input[type="checkbox"]{
    background-color: var(--white);
    margin-right: 10px;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--primary);
    border-radius: 4px;
  }
  
  .checkbox-container input[type="checkbox"]:checked{
    border-color: #10bb0a;
  }
  
  .checkbox-container input[type="checkbox"]:checked::before{
    content: '\2713';
    font-size: 20px;
    font-weight: bolder;
    color: rgb(86, 158, 79);
    text-align: center;
    line-height: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
  }
  
  /* Login (Also uses sign-up form classes) */
  
  .login-btn span{
    font-size: 35px;
  }

  #login-btn span {
    color: var(--primary);
  }
  
  .login-popup {
    display: none;
    position: fixed;
    top: 70px;
    right: 0;
    width: 440px;
  }
  
  .popup-content {
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 0px;
  }
  
  @media screen and (max-width: 460px) {
    .popup-content{
        width: 100%;
    }

    .login-popup{
        width: 100vw;
        height: 100vh;
        right: 0;
    }
}

  .close{
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--background);
    height: 25px;
    width: 25px;
    right: 0px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .close:hover{
    background-color: red;;
  }
  

/* Navbar */

.usn-logo{
    height: 50px;
    display: inline-block;
    margin-left: 10px;
}
  
.logo-text{
    color: var(--primary);
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar a {
    color: var(--black);
    font-size: 20px;
    padding: 20px 15px;
    transition: box-shadow 0.2s;
    height: 100%;
}

.navbar a:hover{
    text-decoration: underline;
}

.navbar a:hover svg{
    transform: rotate(180deg);
}

.with-dropdown{
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    z-index: 1;
    width: 100%;
    margin-top: 0;
    padding: 0;
}

.dropdown-content a {
    display: block;
    font-size: 14px;
    padding: 10px;
}

.with-dropdown:hover .dropdown-content {
    display: block;
}

path {
    transform: rotate(180)
}

.mobile-menu{
    display: none;
}

.mobile-menu a{
    color: var(--primary);
}

.mobile-menu a:hover{
    text-decoration: none;
}

.mobile-menu-overlay {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 70px;
    background-color: var(--background);
    z-index: 999;
    overflow-y: auto;
}

.mobile-menu-content {
    padding-top: 10px;
    padding-bottom: 200px;
}

.mobile-menu-overlay h3 {
    margin-bottom: 5px;
}

.mobile-menu-overlay a {
    display: block;
    color: var(--primary);
    font-size: 20px;
    padding: 10px;
}

@media (max-width: 900px) {
    .contact-text-container{
        width: 100%;
        height: 50%;
    }
}

.mobile-menu-overlay h3:hover, a:hover {
    text-decoration: underline;
}

/* Switches between main and mobile navbar */
@media screen and (max-width: 1100px) {
    .mobile-menu-overlay{
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .main {
      display: none;
    }
    .mobile-menu {
      display: block;
    }
    #login-btn {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    .navbar a {
        font-size: 40px;
    }
}

/* Footer */

.footer {
    height: 150px;
    width: 100vw;
    margin-top: 50px;
    background-color: var(--white);
}



/* Hidden info-container */

    .info-box-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 70%;
        margin: auto;
    }

    .info-box{
        width: 225px;
    }

    .info-box .shortcut{
        width: 225px;
        height: 50px;
    }

    #nr1, #nr2, #nr3, #nr4, #nr5, #nr6, #nr7, #nr8  {
        display: none;
    }

    @media screen and (max-width: 1500px) {
        .info-box-container {
            width: 600px;
        }
    }

    @media screen and (max-width: 600px) {
        .info-box-container {
            width: 100%;
        }
    }


/* Image overlay with one or two text boxes */

.image-overlay {
    background-image: url("images/co-space2.png");
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.overlay-textbox {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--background);
    width: 400px;
    padding: 30px;
    margin: 0 50px;
    background-color: var(--background-opacity);
}

.overlay-mobile-img {
    display: none;
    background-image: url("images/co-space2.png");
    width: 100%;
    height: 400px;
}

@media (max-width: 460px) {
    .overlay-textbox {
        width: 100vw;
        margin: 0;
        padding: 10px;
    }

    .overlay-mobile-img {
        display: block;
        background-size: cover;
    }
}

/* Image Slideshow */

.slideshow-container {
    display: flex;
    position: relative;
    margin: auto;
    width: 800px;
    height: 600px;
    margin: auto;
}

.slideshow-container a:hover {
    text-decoration: none;
}

.slideshow {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoSlider {
    position: relative;
    width: 100%;
    height: 800px;
    margin-bottom: 50px;
  }
  
  .autoSlides img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 800px;
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  
  .autoSlides img.active {
    opacity: 1;
  }

@media (max-width: 840px) {
    .slideshow-container {
        width: 100%;
        height: auto;
    }

    .slideshow, .slide {
        height: auto;
    }

    .slide img {
        height: 400px;
    }
}
  
  .fade {
    animation-name: fade;
    animation-duration: 1s;
}
  
  @keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 16px;
    color: #ffffff;
    border: none;
    z-index: 1;
    font-size: 30px;
    text-shadow: rgb(0, 0, 0) 1px 0 5px;
}
  
  .prev {
    left: 0;
}
  
  .next {
    right: 0;
}
  
  .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
  
  .dot {
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
}
  
  .active {
    background-color: #3b3b3b;
}

/* Keeps content below navbar */

.content {
    padding-top: 70px;
    width: 90%;
    margin: 0 auto;
}



/* Index specific */

.headline-text {
    background-color: var(--background);
    border: solid 2px var(--primary);
    z-index: 100;
    margin: 120px 20%;
    position: absolute;
    display: block;
    padding: 30px;
}

.headline-text h2 {
    margin-top: 0px;
}



/* About us specific */

.location-container {
    margin: 30px 0;
}

.location-container button {
    margin: 10px 0;
}

.location-container a:hover {
    text-decoration: underline var(--white);
}

.transport-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.transport-item {
    margin: 0 50px;
    max-width: 350px;
    min-width: 200px;
}

.transport-container .image-text-container{
    height: 600px;
    margin-bottom: 20px;
}

@media (max-width: 460px) {
    .transport-item {
        width: 95%;
        margin: 0;
    }
}



/*Membership specific */

/* Membership Options */

.member-options-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .member-container {
    display: grid;
    gap: 20px;
    margin-top: 20px;
  }

  @media (max-width: 460px) {
    .member-container {
        display: flex;
        flex-wrap: wrap;
    }
}
  
  #pass{
    grid-template-columns: repeat(3, 1fr);
  }
  
  #desk{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .member-item {
    background-color: var(--background);
    padding: 10px;
    border-radius: 3px;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.2);
  }
  
  .member-item h3 {
    text-align: center;
  }
  
  .member-item p{
    margin-bottom: 5px;
  }
  
  .member-image {
    display: block;
    object-fit: cover;  
    width: 100%;
    max-height: 100px;
    margin: 0 auto;
  }



/* Contact page specific only */

.contact-info-container{
    background-image: url("images/co-space2.png");
    width: 100%;
    height: 600px;
}

.contact-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--background);
    opacity: 90%;
    width: 50%;
    height: 100%;
}

.contact-text{
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap: 10px;
    margin: 0 20px;
}

.contact-text a:hover{
    text-decoration: underline var(--primary);
}

.mobile-image{
    display: none;
    object-fit: cover;
    width: 100%;
}

@media (max-width: 800px) {
    .contact-text-container{
        width: 100%;
        height: 50%;
    }
}

@media (max-width: 460px) {
    .contact-text-container{
        width: 100%;
        height: 100%;
    }

    .contact-text h1{
        display: none;
    }

    .contact-text{
        display: block;
    }

    .mobile-image{
        display: block;
    }

}

.item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
}

.contact-form{
    display: block;
    width: 600px;
    margin-bottom: 20px;
    height: 100%;
}

.contact-request{
    height: 100px;
}

.item-container .image-overlay {
    width: 50%;
    min-width: 600px;
}

@media (max-width: 460px) {
    .contact-form, .image-textbox{
        width: 100vw;
    }

    .image-textbox{
        margin: 20px 0;
    }

    .image-text-container{
        height: 400px;
    }

    #index-textbox {
        width: 100%;
    }

    #index-textbox .image-textbox {
        width: 70%;
    }

    .item-container .image-overlay {
        min-width: 100%
    }
}
