:root {
    --primary: #1F4023;
    --primary-dark: #142B17;
    --secondary: #CE7B2E;
    --secondary-dark: #995b22;
    --background: #E7E3DD;
    --white: #FFFFFF;
    --black: #000000;
    --confirm: #4CEF00;    --error: #FF0000;
}

body {
    font-family: Arial;
    background-color: var(--background);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

.p-small {
    font-size: 14px;
}

/* Shortcuts and Buttons */

button:hover{
    cursor: pointer;
}

.shortcut, .button{
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 12.5px;
    gap: 10px;
    border: none;
}

.shortcut {
    display: flex;
    text-align: left;
    width: 225px;
}

.button {
    display: inline-flex;
    border-radius: 100px;
}

.button-dark {
    background-color: var(--primary);
    color: var(--white);
}

.button-dark:hover {
    background-color: var(--primary-dark);
}

.button-light {
    background-color: var(--background);
    border: 2px solid var(--primary);
}

.button-light:hover {
    border: 3px solid var(--primary);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 11.5px;
}

.btn-sec-dark {
    background-color: var(--secondary);
}

.btn-sec-dark:hover {
    background-color: var(--secondary-dark);
}

.btn-sec-light {
    border: 2px solid var(--secondary);
}

.btn-sec-light:hover {
    border: 3px solid var(--secondary-dark);
}

/* Shortcut arrow */

.arrow {
    height: 25px;
    width: 25px;
}

.dark-arrow {
    background:url('images/green-arrow.png');
    background-size: 25px 25px;
}

.white-arrow {
    background:url('images/white-arrow.png');
    background-size: 25px 25px;
}

button:hover .white-arrow {
    background:url('images/white-arrow-hover.png');
    background-size: 25px 25px;
}

button:hover .dark-arrow {
    background:url('images/green-arrow-hover.png');
    background-size: 25px 25px;
}

.secondary-arrow {
    background:url('images/orange-arrow.png');
    background-size: 25px 25px;
}

button:hover .secondary-arrow {
    background:url('images/orange-arrow-hover.png');
    background-size: 25px 25px;
}




/* Navbar */

.usn-logo{
    height: 50px;
    display: inline-block;
    margin-left: 10px;
}
  
.logo-text{
    color:white;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar a {
    display: block;
    color: var(--white);
    font-size: 20px;
    padding: 20px 15px;
    text-decoration: none;
    transition: box-shadow 0.2s;
    height: 100%;
}

.navbar a:hover{
    text-decoration: underline;
}

.navbar a:hover svg{
    transform: rotate(180deg); /* Rotate 180 degrees on hover */
}

.with-dropdown{
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary);
    z-index: 1;
    width: 100%;
    margin-top: 0;
    padding: 0;
}

.dropdown-content a {
    font-size: 14px;
    padding: 10px;
}

.with-dropdown:hover .dropdown-content {
    display: block;
}

path {
    transform: rotate(180)
}

.alt{
    display: none;
}
  
.alt-content {
    display: none;
    background-color: var(--background);
}

/* Switches between main and alt navbar */

@media screen and (max-width: 900px) {
    .main {
      display: none;
    }
    .alt {
      display: block;
    }
}

/* Keeps content below navbar */

.content {
    width: 1268px;
    height: 4205px;
    padding: 70px 56px 0px 56px;
    gap: 10px;
}

.index-headline-container {
    display: flex;
    flex-wrap: wrap;
    gap: 56px;
}

.headline-text {
    display: flex;
    height: 460px;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
}

.headline-image {
    background: url(images/desk-computer.webp);
    background-color: lightgrey 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 561px;
    height: 460px;
    flex-shrink: 0;
}



